body   {
    background-color: rgb(35, 195, 160);

}

h1 , h2 {
    color : rgb(128, 3, 3) 
}


#para >  p   {
    background-color: yellow;
}



#para >  p > i {
    background-color: rgb(35, 195, 160)
}

.test {
    color : gold ;
    background-color: black;
}

th {
    color : green
}

td {
    color : blue
}


#yg + li  {
    color : rgb(25, 235, 221) 
}


#contact >  ul > li:nth-child(2) > a {
    background-color: aqua;
}

#sc {
    background-color: aqua;
}
#FOOT {
    background-color: #0000ff;
  
}