body  {
    background-color: rgb(227, 227, 227);
}


.first-box {
    background-color: rebeccapurple;
    /* border: 2px solid  black; */
    border-width: 2px ;
    border-style: solid;
    border-color: black;    
}

.second-box {
    background-color: aqua;
    /* border: 2px solid  black; */
    border-right-width: 2px ;
    border-right-style: solid;
    border-right-color: black;    

}